<div>
    <p>
        Alerts:
    </p>
    </div><div ng-repeat="alert in currentAlerts" class="alert alert-{{alert.type}}">
        {{ alert.message }}
        <button ng-click="removeAlert(alert)">Remove this</button>
    </div>
</div