<div>
    <!-- Angular expects a collection -->
    <!-- Angular expects distinct values/ object references/ number values/ strings -->
    <span ng-repeat="star in stars track by $index"
          ng-class="styles($index)"
          ng-click="click($index)>"
          ng-mouseover="mouseover($index)"
          ng-mouseout="mouseout()">
    </span>
</div>