﻿<!DOCTYPE html>
<html ng-app="registrationModule">
    <head>                 
        <title>@ViewBag.Title</title>
        <!-- Must have closing tag for bootstrap.js, and pretty much everything else. Its not a self-closing tag -->
        <!-- Its a tag that has no end tag, e.g. <br>. Ref: http://stackoverflow.com/questions/3558119/are-self-closing-tags-valid-in-html5 -->
        <!-- No. HTML 4.x doesn't have any concept of self closing tags. It is valid in XHTML.-->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.js" type="text/javascript"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular-route.js" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>        

        <!-- For some reason, angularJs modules above bootstrap.js can't be seen -->
        <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
        
        @*<script src="@Url.Content("~/Scripts/Registrations/registration-module.js")" type="text/javascript"></script>*@
        <script src="@Url.Content("~/Scripts/Config/appconfig.js")" type="text/javascript"></script>

        <link href="@Url.Content("~/Content/bootstrap/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/bootstrap/bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/bootstrap/bootstrap-sandstone.min.css")" rel="stylesheet" type="text/css" />        
    </head>

    <body>
        @RenderSection("JavascriptInHead", required: false)
        @RenderBody()
    </body>
</html>
