﻿<div class="container" ng-controller="CoursesController">
    <div class="row">
        <div class="span10">
            <h2>Courses</h2>
        </div>        
    </div>
    <div class="row">
        <div class="span10">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Course</th>
                        <th>Course Name</th>
                        <th>Instructor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="course in courses">
                        <td>{{course.number}}</td>
                        <td>{{course.name}}</td>
                        <td>{{course.instructor}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>