﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavascriptInHead
{
    <script src="@Url.Content("~/Scripts/Instructors/instructor-controller.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var registrationModule = angular.module("registrationModule"); // Get reference to registrationModule
        registrationModule.factory('bootstrappedInstructors', function() {
            return {
                instructors: @Html.Raw(Model)
            };
        });
    </script>    
}

@*
<div class="container" ng-controller="InstructorsController">
    <div class="row">
        <div class="span10">
            <h2>Instructors</h2>
        </div>        
    </div>
    <div class="row">
        <div class="span10">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Room Number</th>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="instructor in instructors">
                        <td>{{instructor.name}}</td>
                        <td>{{instructor.roomNumber}}</td>
                        <td>{{instructor.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>*@