<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <base href="/">
        <title>Protractor tests</title>
        
        <link rel="stylesheet/less" type="text/css" href="/css/styles.less" />
        <script src="vendor/less.js"></script>
<!--        <link rel="stylesheet" href="css/index.css"></link>-->
    </head>
    <body ng-app="app" ng-controller="index as vm">
        <H1>Welcome to Protractor tests</H1>
        <label id="welcome">{{vm.welcome}}</p>
        <form>
            <button id="submit" ng-click="vm.submit()">Submit!</button>
        </form>
        
        <h4>Current state: {{vm.state.current.name}}</h4>
        <ul>
            <li>
                <a ui-sref="portfolio" style="cursor: wait; font-size: 25px;">Portfolio</a>
                <a ui-sref="gallery" style="cursor: wait; font-size: 25px;">Gallery</a>
            </li>
        </ul>
        <p> UI view below:</p>
        <div ui-view></div>
        
        <script src="/vendor/angular.js"></script>
        <script src="/vendor/angular-ui-router.js"></script>        
        <script src="/app.js"></script>
        <script src="/app-route.js"></script>
        <script src="/index.js"></script>        
		<script src="/public/gallery/gallery.js"></script>
        <script src="/public/portfolio/portfolio.js"></script>
    </body>
</html>