﻿@model string
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavascriptInHead
{
    <script src="@Url.Content("~/Scripts/Courses/course-controller.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var registrationModule = angular.module("registrationModule"); 
        registrationModule.factory('bootstrappedCourses', function() {
            return {
                courses: @Html.Raw(Model)
            };
        });
    </script>    
}

@*<div class="container" ng-controller="CoursesController">
    <div class="row">
        <div class="span10">
            <h2>Courses</h2>
        </div>        
    </div>
    <div class="row">
        <div class="span10">
            <table class="table table-condensed table-hover">
                <tr>
                    <th>Course</th>
                    <th>Course Name</th>
                    <th>Instructor</th>
                </tr>
                <tr ng-repeat="course in courses">
                    <td>{{course.number}}</td>
                    <td>{{course.name}}</td>
                    <td>{{course.instructor}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>*@