﻿<form ng-submit="vm.login()">
    <label for="emailAddress">Email Address:</label>
    <input type="text" id="emailAddress" ng-model="vm.loginForm.emailAddress" required />

    <label for="password">Password:</label>
    <input type="password" id="password" ng-model="vm.loginForm.password" required />

    <label for="rememberMe">Remember Me:</label>
    <input type="checkbox" id="rememberMe" ng-model="vm.loginForm.rememberMe" required />

    <button type="submit">Login</button>

    <div ng-if="vm.loginForm.loginFailure">
        D'oh!
    </div>
</form>