﻿<form ng-submit="vm.register()">
    <label for="emailAddress">Email Address:</label>
    <input id="emailAddress" type="text" ng-model="vm.registerForm.emailAddress" required />

    <label for="password">Password:</label>
    <input id="password" type="password" ng-model="vm.registerForm.password" required />

    <label for="confirmPassword">Confirm Password:</label>
    <input id="confirmPassword" type="password" ng-model="vm.registerForm.confirmPassword" required />

    <button type="submit">Register</button>
</form>