﻿Route One

<form name="vm.myForm" novalidate>
    <label> Input: </label>
    <input name="input" value="Test inputbox" ng-model="vm.input" type="number" required />
    <button ng-click="vm.submit()">Submit</button>
    <button ng-click="vm.resetForm()">Reset form</button>
</form>