﻿@model AngularMvc.ViewModels.Registrations.SerializedData
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavascriptInHead
{
    <script src="@Url.Content("~/Scripts/Courses/course-controller.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Instructors/instructor-controller.js")" type="text/javascript"></script>

    <script type="text/javascript">
        var registrationModule = angular.module("registrationModule"); // Get reference to registrationModule
        registrationModule.factory('bootstrappedData', function() {
            return {
                instructors: @Html.Raw(Model.Instructors),
                courses: @Html.Raw(Model.Courses)
            };
        });
    </script>
}

<div class="container">
    <div class="row">
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li>
                        <span class="navbar-brand">Registration</span>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav">
                    <li><a href="#/Courses">Browse Courses</a></li>
                    <li><a href="#/Instructors">Browse Instructors</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-view></div>
</div>