<div>
    <p>Please login then click on secret recipe link!</p>
    <ul class="nav navbar-nav">
        <li>
            <a href="#/secret">Secret recipe</a>
            <a href="#/physijs">PhysiJS</a>
        </li>
    </ul>
    <div ng-controller="loginController as login">
        Hello {{ login.user.username}}!
    </div>
    <form ng-if="!login.user.loggedIn" name="loginForm" class="navbar-form navbar-right" ng-submit="login.login(loginForm)"  novalidate>
        <div class="form-group">
            <input name="username" type="text" placeholder="Username" ng-model="login.username"/>
        </div>
        <div class="form-group">
            <input name="password" type="password" placeholder="Password" ng-model="login.password"/>
        </div>
        <input class="btn btn-default btn-sm" type="submit" value="Login">
    </form>
</div>