<form ng-if="!login.user.loggedIn" name="loginForm" class="navbar-form navbar-right" ng-submit="login.login(loginForm)"  novalidate>
    <div class="form-group">
        <input name="username" type="text" placeholder="Username" ng-model="login.username"/>
    </div>
    <div class="form-group">
        <input name="password" type="password" placeholder="Password" ng-model="login.password"/>
    </div>
    <input class="btn btn-default btn-sm" type="submit" value="Login">
</form>