﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title ng-bind="helloAngular"></title>
    </head>
<body ng-app="app" ng-controller="indexController as vm">

    <input type="text" ng-model="vm.models.helloAngular" />
    <h1>{{vm.models.helloAngular}}</h1>

    <div ng-show='vm.my.message'>{{vm.my.message}}</div>

    <ul>
        <li><a href="/#/routeOne">Route One</a></li>
        <li><a href="/#/routeTwo/4">Route Two</a></li>
        <li><a href="/#/routeThree">Route Three</a></li>
    </ul>
    <ul>
        <li><a href="/#/login">Login</a></li>
        <li><a href="/#/register">Register</a></li>
    </ul>

    <div ng-view></div>

    <script src="~/Scripts/Vendor/angular.js"></script>
    <script src="~/Scripts/Vendor/angular-resource.js"></script>
    <script src="~/Scripts/Vendor/angular-route.js"></script>

    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/app-route.js"></script>
    <script src="~/Scripts/app-config.js"></script>
    <script src="~/Scripts/Controllers/indexController.js"></script>
    <script src="~/Scripts/Controllers/loginController.js"></script>
    <script src="~/Scripts/Controllers/registerController.js"></script>
    <script src="~/Scripts/Controllers/routeOneController.js"></script>
    <script src="~/Scripts/Services/loginFactory.js"></script>
    @*<script src="~/Scripts/Services/loginService.js"></script>*@
    <script src="~/Scripts/Services/registerService.js"></script>
    @Scripts.Render("~/bundles/app")
</body>
</html>