<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
        <title>Playbook</title>
    </head>
    <body ng-app="security" ng-controller="loginController as vm">
        <label>Welcome to the AngularJS Playbook!</label>
        <navbar></navbar>
        
        <!-- Rating directive already exists in angular bootstrap, thus the wapol prefix -->
        <wapol-rating value="1" min="1" max="5"></wapol-rating>
        
        <div ui-view></div>
        
        </br>
        <button ng-click="vm.addAlerts()">Add alerts</button>
        
        <div>
            <alerts></alerts>
        </div>
        
        <script src="scripts/vendor/angular.js"></script>
        <script src="scripts/vendor/angular-ui-router.js"></script>
        <script src="scripts/vendor/angular-resource.js"></script>
        <script src="scripts/vendor/physijs.js"></script>
        <script src="scripts/vendor/physijs-worker.js"></script>
        <script src="app/app.js"></script>
        <script src="app/app-route.js"></script>
        <script src="app/controllers/homeController.js"></script>
        <script src="app/controllers/loginController.js"></script>
        <script src="app/controllers/secretController.js"></script>
        <script src="app/directives/alerts.js"></script>
        <script src="app/directives/navbar.js"></script>
        <script src="app/directives/declarative-rating.js"></script>
        <script src="app/services/common/alerting.js"></script>
        <script src="app/services/addToken.js"></script>
        <script src="app/services/currentUser.js"></script>
        <script src="app/services/formEncode.js"></script>
        <script src="app/services/localStorage.js"></script>
        <script src="app/services/loginRedirect.js"></script>
        <script src="app/services/oauth.js"></script>
        <script src="app/services/secretService.js"></script>
    </body>
</html>