<div>
  <p>Collaborators:</p>
</div>

<table>
  <tbody>
    <tr ng-repeat="collaborator in collaborators">
      <td> - </td>
      <td>
	  
        <img ng-src="{{collaborator.avatar_url}}" title="ID: {{collaborator.id}}" 
             width="40px" height="40px"/>
      </td>
      <td>{{collaborator.login}}</td>
    </tr>
  </tbody>
</table>
<a href="#/main/">Back to search</a>
<a ng-href="#/user/{{repository}}">Back to repository</a>