<div>
  <div>{{ error }}</div>

  {{ countdown }}
  <form name="searchUser" ng-submit="search(username)">
    <input type="search" required="" ng-model="username" />
    <input type="submit" value="Search" />
  </form>
  <div ng-include="'user.html'" ng-show="user"></div>
</div>

