<div>
  <h2>{{ user.login }}</h2>
  <p>{{ error }}</p>
  <img ng-src="http://www.gravatar.com/avatar/{{user.gravatar_id}}" title="{{user.name}}">
  <select ng-model="repoSortOrder">
    <option value="+name">Name</option>
    <option value="-stargazers_count">Stars</option>
    <option value="+language">Language</option>
  </select>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Stars</th>
      <th>Language</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
      <td>
        <!--a ng-href="{{repo.collaborators_url}}">{{repo.name}}</a-->
        <!--a ng-href="#/collaborators/{{repo.name}}"-->
		<a ng-href="#/repository/{{ username }}/{{ repo.name }}">
          {{repo.name}}
        </a>
      </td>
      <td>{{repo.stargazers_count}}</td>
      <td>{{repo.language}}</td>
    </tr>
  </tbody>
</table>
<a href="#/main/">Back to search</a>
